ion-toolbar {
    --background: rebeccapurple;
    color: white;
}

ion-back-button {
    color:white
}

ion-content{
    --background:darkorange;
  }


ion-text{
    align-self: center;
}
ion-card-title{
    color: rebeccapurple;
}

ion-card-content{
    color: rebeccapurple;
}

.container {    
    img{
        height: 50px;
    }
  }
  
  #btn {
      --background: rebeccapurple;
  }