<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <div class="ion-text-center">
      <ion-title>RegistrAPP</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <div class="container ion-text-center">
        <img src="assets/logo.png">
      </div>
      <div class="ion-text-center">
        <ion-card-title>Crear control de asistencia</ion-card-title>
      </div>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="formularioClase">
        <ion-item>
          <ion-label position="fixed">Fecha:</ion-label>
          <ion-input type="date" formControlName="fecha"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="fixed">Hora:</ion-label>
          <ion-input type="time" formControlName="hora"></ion-input>
        </ion-item>
        <ion-list>
          <ion-item>
            <ion-select placeholder="Curso:" formControlName="curso">
              <ion-select-option value="Base de datos">Base de datos</ion-select-option>
              <ion-select-option value="BPM">BPM</ion-select-option>
              <ion-select-option value="Emprendimiento">Emprendimiento</ion-select-option>
              <ion-select-option value="Estadistica">Estadistica</ion-select-option>
              <ion-select-option value="Etica">Etica</ion-select-option>
              <ion-select-option value="Inglés">Inglés</ion-select-option>
              <ion-select-option value="Portafolio">Portafolio</ion-select-option>
              <ion-select-option value="Programación">Programación</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <ion-item>
          <ion-label position="fixed">Sección:</ion-label>
          <ion-input formControlName="secc"></ion-input>
        </ion-item>
      </form>
      <br>
      <ion-button id="btn" (click)="guardarClase()" expand="block">GENERAR CLASE</ion-button>
    </ion-card-content>
  </ion-card> 

  
</ion-content>
